#post-row{
    /* border-left: 1px solid #666; */
    border-radius: 2px;
    padding: 2px;
    margin: 30px 0px;
}
.post-row-content{
    padding: 12px;
    border-radius: 13px;
    transition: .4s;
}
.post-row-content:hover{
    /* border: 0.4px solid #e1e1e1; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    /* border: 0.4px solid #e1e1e1; */
}

.content-excerpt{
    /* font-size: 15px; */
    color: #878787;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
}
.post-heading{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif !important;
}

.post-about-details{
    color: #66666692;
}

.timeline{
    border-left: 1px solid #66666618;
    
}